<link
  rel="stylesheet"
  href="{{ 'card-product.css' | asset_url }}"
  media="print"
  onload="this.media='all'">

<div
  class="card-container">
  <div
    class="img-container">
    <img
      class="item-image"
      src="{{card_product.featured_image | img_url: '200x350'}}"
      alt="image" />
  </div>

  <p
    class="title">
    <a
      href="{{card_product.url}}">{{ card_product.title }}</a>
  </p>

</div>

<script>
  console.log("HELLO", "{{card_product.featured_image}}");
  const p = document.getElementById("hello")

  function logMe() {
    console.log("PRODUCT")
  }

  p.addEventListener("click", logMe)
</script>