{{ 'activity.css' | asset_url | stylesheet_tag }}

<div>
  {% if section.settings.activity_header != blank %}
    <p class="red-text">{{ section.settings.activity_header }}</p>
  {% endif %}

  {% for block in section.blocks %}
    {%- case block.type -%}
      {% when 'collection' %}
      <div>
        <p>{{ block.settings.show_price }}</p>

        <p>{{ block.settings.activity_collection.title }}</p>
        {% for product in block.settings.activity_collection.products %}
          <p>{{ product.title }}</p>
        {% endfor %}
      </div>
    {%- endcase -%}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Activity Collection",
    "settings": [
      {
        "type": "text",
        "id": "activity_header",
        "label": "⚡Activity Header"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "limit": 4,
        "name": "⚡Collection",
        "settings": [
          {
            "type": "collection",
            "id": "activity_collection",
            "label": "⚡Activity Collection"
          }, {
            "type": "checkbox",
            "id": "show_price",
            "label": "Show Price"
          }
        ]
      }, {
        "type": "Descrition",
        "name": "⚡Description",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_price",
            "label": "Show Price"
          }
        ]
      }
    ]
  }
{% endschema %}