<div>
  {% if section.settings.header != blank %}
    <p>{{ section.settings.header }}</p>
  {% endif %}


  {% form 'contact' %}

    {% if form.errors %}
      <p>Oh No!, Message is not sent</p>
      <ul>
        {% for error in form.errors %}
          <li>{{ form.errors.messages[error] }}</li>
        {% endfor %}
      </ul>
    {% elsif form.posted_successfully? %}
      <p>Message was sent</p>
    {% endif %}

    <script>
      console.log("FORM", {{form.errors}})
      console.log("FORM", {{form.posted_successfully}})
    </script>

    {% render 'contact-new-form', label: "Full Name", type: "text", name: "{{contact[name]}}", id: "contact_name" %}

    {% if section.settings.show-number-field == true %}
      {% render 'contact-new-form', label: "Number", type: "number", name: "{{contact[number]}}", id: "contact_number" %}
    {% endif %}

    {% if section.settings.show-gender-field == true %}
      {% render 'contact-new-form', label: "Gender", type: "select", name: "{{contact[gender]}}", id: "contact_gender" %}
    {% endif %}

    {% render 'contact-new-form', label: "Email", type: "email", name: "{{contact[email]}}", id: "contact_email" %}
    {% render 'contact-new-form', label: "Message", type: "textarea", name: "{{contact[body]}}", id: "contact_message" %}

    {% if section.settings.button-text != blank %}
      <button
        type="submit">{{ section.settings.button-text }}</button>
    {% else %}
      <button
        type="submit">Submit</button>
    {% endif %}

  {% endform %}
</div>

{% schema %}
  {
    "name": "Contact Form",
    "presets": [
      {
        "name": "⚡Contact Form"
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "show-number-field",
        "label": "Show Number Field"
      }, {
        "type": "checkbox",
        "id": "show-gender-field",
        "label": "Show Gender Field"
      }, {
        "type": "text",
        "id": "header",
        "label": "Header"
      }, {
        "type": "text",
        "id": "button-text",
        "label": "Submit button Text"
      }
    ]
  }
{% endschema %}